.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Roboto-Mono", sans-serif;
  background: url(https://www.ironhack.com/assets/icons/background/hexagon.svg)
    no-repeat;
  background-color: rgb(248, 248, 248);
  background-position: 123px -409px;
  background-size: 81%;
}

.main-container {
  padding: 0 304.5px;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 32px 0 64px;
}

.btnadmcontainer {
  display: flex;
  flex-direction: column;
}

.btnadmcontainer h1 {
  color: #fff;
}

.admin-form {
  padding: 90px 0;
  justify-content: space-evenly;
  display: flex;
}

.admin-form button {
  border: none;
  border-radius: 5px;
}

.admbtn {
  padding: 50px;
  background-color: #2dc5fa;
  font-size: 20px;
  color: #fff;
}

.container-description {
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  padding: 19px;
  margin: 0 230px;
  flex-direction: column;
}
.container-description h1 {
  padding-bottom: 30px;
}

.conteinerhdr {
  display: flex;
  flex-direction: row;
}

.texthdr {
  padding-right: 50px;
}

.conteinerhdr img {
  padding-top: 25px;
  width: 55%;
  height: 50%;
}

.container-description p {
  color: rgba(45, 53, 76, 0.6);
  font: 20px Roboto;
  text-align: justify;
}

.container-searchbox {
  background-image: url(home-img.jpg);
  margin-top: 150px;
}

.container-searchbox img {
  padding: 50px 0 30px;
  width: 10%;
}

.search-container {
  padding: 20px 0 150px;
}

.categories-ctn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #fff;
  margin: 0 100px;
  z-index: -10;
}

.searchctn {
  display: flex;
  flex-direction: row;
  height: 346px;
}

.ironplaceslist {
  width: 40%;
}

.mapplaces {
  width: 60%;
}

.categories {
  padding: 20px 50px;
}

.categories:hover {
  color: rgb(45, 197, 250);
  opacity: 80%;
}

.categories img {
  width: 100px;
}

.btn {
  color: #fff;
  width: 100%;
  margin-top: 15px;
}

.btn:hover {
  color: #2dc5fa;
}

.footer {
  background-color: rgb(45, 53, 76);
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
}

.footer h1 {
  font-size: 25px;
  color: #fff;
  text-align: justify;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0 0;
}

.allrights {
  display: flex;
  flex-direction: row;
}

.allrights p {
  color: rgba(255, 255, 255, 0.4);
  font: 12px Roboto;
  margin: 10px 20px;
}

.footerimg, .floridactn {
  display: flex;
  flex-direction: row;
}

.floridactn p {
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 0;
  align-self: center;
  padding-left: 10px;
}

.footerimg img {
  padding-left: 10px;
}

.loginform, .signupform {
  color: #fff;
  margin: 0 35%;
  flex-direction: column;
  display: flex;
}

.formctn {
  padding: 50px 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  padding-right: 20px;
}

.addformctn {
  margin: 0 30%;
  color: #fff;
}

.addformctn h1 {
  color: #fff;
}
